
<!-- <div class="container">
	<h1> This is an assignment route</h1>
</div> -->



<div class="container"><h1></h1></div>

<div id="assignment-tab" class="container">	
	<ul class="nav nav-tabs">
		<li class="active"><a href="#1" data-toggle="tab">Create Assignment</a>
		</li>
		<li><a href="#2" data-toggle="tab">View Assignments</a>
		</li>
		<li><a href="#3" data-toggle="tab">My Students</a>
		</li>
		<li><a href="#3" data-toggle="tab">Share Feedback</a>
		</li>
	</ul>

	<div class="tab-content ">
	  	<div class="tab-pane active" id="1">
			<h3>Create assignment layout here</h3>
		</div>
		<div class="tab-pane" id="2">
  			<h3>Show all assignments here</h3>
		</div>
		<div class="tab-pane" id="3">
	  		<h3>Show students here</h3>
		</div>
		<div class="tab-pane" id="4">
	  		<h3>Submit feedback for student</h3>
		</div>
	</div>
</div>