<div class="container">

	<div class="panel panel-primary">
	  <div class="panel-heading">
	    <h3 class="panel-title"> {{CONSTANTS.NEW_UNIT}} </h3>
	  </div>
	  <div class="panel-body">

	  	<form class="form-horizontal">

		  <div class="form-group">
		    <label for="inputTitle" class="col-sm-2 control-label">Name</label>
		    <div class="col-sm-10">
		      <input type="email" class="form-control" id="inputTitle" placeholder="Title">
		    </div>
		  </div>

		  <div class="form-group">
		    <label for="description" class="col-sm-2 control-label">Description</label>
		    <div class="col-sm-10">
		    	<textarea class="form-control" rows="3" placeholder="Description"></textarea>
		    </div>
		  </div>


			<div class="form-group">
			    <label for="sort" class="col-sm-2 control-label"> Parent </label>
			    <div class="col-sm-10">
			        <select class="form-control" name="sort" id="sort">
			            <option value="1">1</option>
			            <option value="12">12</option>
			            <option value="13">13</option>
			            <option value="14">14</option>
			        </select>
			     </div>
			</div>


			<div class="form-group">
			    <label class="col-sm-2 control-label" for="exampleInputFile">File input</label>
			    <div class="col-sm-10">
			    	<input type="file" id="wavInputFile">
				</div>
			    <!-- <p class="help-block">Example block-level help text here.</p> -->
			</div>

			<div class="form-group">
			    <label class="col-sm-2 control-label">Record an audio </label>
			    <div class="col-sm-10 recordAudioDiv">
					<input type="checkbox" ng-model="recordAudioCb" value="option1"> 
				</div>
			    <!-- <p class="help-block">Example block-level help text here.</p> -->
			</div>			

			<div class="form-group" ng-show='recordAudioCb'>
			    <label class="col-sm-2 control-label" for="exampleInputFile">Record your unit</label>
			    <div class="col-sm-10">
				    <button type="button" class="btn btn-primary btn-sm" id="record">Record</button>
				    <button type="button" class="btn btn-primary btn-sm" id="stop">Stop</button>
				    <audio id="audio" controls></audio>
				</div>
			    <!-- <p class="help-block">Example block-level help text here.</p> -->
			</div>


		  <!-- <div class="form-group">
	    	  <div class="col-sm-offset-2 col-sm-10">
				  <div class="checkbox">
					  <label class="checkbox-inline">
						  <input type="checkbox" id="inlineCheckbox1" value="option1"> All Students
					  </label>
					  <label class="checkbox-inline">
						  <input type="checkbox" id="inlineCheckbox2" value="option2"> Primary
					  </label>
					  <label class="checkbox-inline">
						  <input type="checkbox" id="inlineCheckbox3" value="option3"> Secondary
					  </label>
				  </div>
			  </div>
		  </div> -->
		  
		  <div class="form-group">
		    <div class="col-sm-offset-2 col-sm-10">
		      <button type="submit" class="btn btn-primary">Submit</button>
		    </div>
		  </div>
		</form>

	  </div>
	</div>

</div>


