<div class="container">

	<div class="panel panel-primary">
	  <div class="panel-heading">
	    <h3 class="panel-title"> {{CONSTANTS.NEW_CONTENT_GROUP}} </h3>
	  </div>
	  <div class="panel-body">

	  	<form name="contentGroupForm" class="myForm form-horizontal" required>

		  <div class="form-group" ng-class="{ 'has-error' : contentGroupForm.cgNameField.$invalid && !contentGroupForm.cgNameField.$pristine }">
		  	
		    <label for="cgNameField" class="col-sm-2 control-label">Name</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" ng-model="vm.cgName" name="cgNameField" placeholder="Name" required>

		      <p ng-show="contentGroupForm.cgNameField.$invalid && !contentGroupForm.cgNameField.$pristine" class="help-block">Please enter name for content group.</p>
		    </div>
		  </div>

		  <div class="form-group">
		    <label for="description" class="col-sm-2 control-label">Description</label>
		    <div class="col-sm-10">
		    	<textarea class="form-control" rows="3" placeholder="Description" ng-model="vm.cgDesc"></textarea>
		    </div>
		  </div>


			<div class="form-group">
			    <label for="sort" class="col-sm-2 control-label"> Parent </label>
			    <div class="col-sm-10">
			        <select class="form-control" name="sort" id="sort" ng-model="vm.cgParent">
			            <option value="1">1</option>
			            <option value="12">12</option>
			            <option value="13">13</option>
			            <option value="14">14</option>
			        </select>
			     </div>
			</div>


		  <!-- <div class="form-group">
	    	  <div class="col-sm-offset-2 col-sm-10">
				  <div class="checkbox">
					  <label class="checkbox-inline">
						  <input type="checkbox" id="inlineCheckbox1" value="option1"> All Students
					  </label>
					  <label class="checkbox-inline">
						  <input type="checkbox" id="inlineCheckbox2" value="option2"> Primary
					  </label>
					  <label class="checkbox-inline">
						  <input type="checkbox" id="inlineCheckbox3" value="option3"> Secondary
					  </label>
				  </div>
			  </div>
		  </div> -->
		  
		  <div class="form-group">
		    <div class="col-sm-offset-2 col-sm-10">
		      <button type="submit" class="btn btn-primary" ng-click="vm.addNewContentGroup()" ng-disabled="contentGroupForm.$invalid">Submit</button>
		    </div>
		  </div>

		</form>

	  </div>
	</div>

</div>


