
body {
  font-family: 'Libre Franklin', sans-serif !important;
  font-weight: 400 !important;
}

.container-fluid{
	padding: 0;
}

.homePageImage{
	background-image: url("../img/lms.png");
	height: 992px;
	width: 100%;
	padding: 0;
}

.navbar-inverse{
	border-radius: 0;
}

.homePageNavBar{
	float: right;
}

.homePageNavBar form{
	margin-top: 20px;
}

.navbar .navbar-toggler{
	margin-top: 20px;
}

.dashboard-header{
	height: 50px;
	line-height: 50px;
	background-color: #2E3F56;
}

.dashboard-header nav{
	border:0;
}
.navbar-header{
	background-color: #338DD0;
}
.navbar-header i{
	color: #fff;
	font-size: 24px;
    padding: 0 20px;
}

.navbar-nav>li>a:focus, .navbar-nav>li>a:hover {
	text-decoration: none;
    background-color: #338DD0;
    color: #fff;
}

.navLi{
	padding: 0 20px;
}

.navbar-nav>li>a{
	color: #fff;
}

.settings-div{
	padding: 10px 20px 0 0;
}

assignment-component .container{
	background-color: #F9F9F9;
}

#assignment-tab h3 {
  color: #333;
    background-color: #F9F9F9;
    padding: 5px 15px;
}

#assignment-tab .nav-tabs>li.active>a{
	    background-color: #338DD0;
	    color: #fff;
}