.homePageImage{
	background-image: url("../img/lms.png");
	height: 992px;
	width: 100%;
}

.homePageNavBar{
	float: right;
}

.homePageNavBar form{
	margin-top: 20px;
}

.navbar .navbar-toggler{
	margin-top: 20px;
}