
<div class="modal fade" id="forceLogoutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title w-100 font-weight-bold">{{CONSTANTS.SESS_EXPIRED}}</h4>
            </div>
            <div class="modal-body">
                <p>{{CONSTANTS.SESS_EXPIRED_OK}}</p>
            </div>
            <div class="modal-footer justify-content-center">
                <button class="btn btn-primary" ng-click="vm.forceLogout()">{{CONSTANTS.OK}}</button>
            </div>
        </div>
    </div>
</div>